.post {
    background-color: white;
    margin-left: 10%;
    width: 50%;
    margin: 0px auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $grey;

    -webkit-box-shadow: 0px 0px 78px -97px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 0px 78px -97px rgba(0,0,0,0.78);
    box-shadow: 0px 0px 78px -97px rgba(0,0,0,0.78);
    

    &__title {
        font: {
            family: 'IBM Plex Mono', monospace;
            size: 25px;
            weight: 400;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__body {
        display: inline-block;
        margin-top: 10px;
        line-height: 1.5;
        text-align: left;
        @include text();
    }

    &__author {
        font: {
            family: 'IBM Plex Mono', sans-serif;
            size: 17px;
            weight: 300;
            style: italic;
        }

        &:hover {
            cursor: pointer;
        }
    }
}