.home {
    margin-top: 120px;
    background-color: white;
    .posts {
        padding: 20px 50px;
        &__heading {
            @include heading-normal();
            text-align: center;
            padding: 20px;
        }
    }
}