.login {
    .preview {
        @keyframes movedown {
            from { margin-top: -150% }
            50% { margin-top: 0% }
            to { margin-top: -150% }
        }

        @keyframes moveup {
            from { margin-top: 0% }
            50% { margin-top: -150% }
            to { margin-top: 0% }
        }

        &__post {
            margin-top: 20px;
        }
        &__left {
            width: 50%;
            float: left;
            margin-top: -50%;
            -webkit-animation: movedown 120s infinite; /* Safari 4.0 - 8.0 */
            animation: movedown 120s infinite;
            animation-timing-function: linear;
        }
        &__right {
            width: 50%;
            float: right;
            margin-top: -50%;
            -webkit-animation: moveup 120s infinite; /* Safari 4.0 - 8.0 */
            animation: moveup 120s infinite;
            animation-timing-function: linear;
        }

        .title {
            color: $grey;
            font: {
                family: 'IBM Plex Mono', monospace;
                size: 14px;
                weight: 500;
            }
        }

        .body {
            color: $grey;
            margin-top: 5px;
            font: {
                family: 'IBM Plex Sans', sans-serif;
                size: 10px;
                weight: 400;
            }
        }
    }

    &__left {
        overflow: hidden;
        width: 40%;
        float: left;
        height: 100vh;
    }

    &__right {
        width: 60%;
        float: right;
        background-color: black;
        height: 100vh;
    }

    .login-form {
        width: 50%;
        margin: 0 auto;
        margin-top: 30vh;

        &__error {
            color: $red;
            font-family: 'IBM Plex Mono', monospace;
        }

        &__message {
            color: white;
            font: {
                family: 'IBM Plex Mono', monospace;
                size: 35px;
                weight: 500;   
            }
        }

        &__title {
            @include title-big;
            color: white;
        }

        &__switch {
            -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -khtml-user-select: none;
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none;

            display: block;
            font-style: italic;
            margin-top: 4px;
            color: white;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 15px;
            &:hover {
                cursor: pointer;
            }
        }

        &__input-container {
            width: 60%;
            margin-top: 50px;
        }

        &__input {
            @include input;
            width: 88%;
            margin-top: 10px;
            display: block;
            color: white;
            border-color: white;
            background-color: black;
            &--success {
                border-color: $green;
                color: $green;
            }
        }

        &__submit {
            @include button;
            display: block;
            background-color: white;
            color: white;
            background-color: $green;
            margin: 10px auto;
        }
    }
}